body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh; 
  }
  


  /* App title */
h1 {
    font-size: 32px; /* Larger font size for the app title */
    font-weight: bold; /* Bold font for emphasis */
    text-align: center; /* Center the title horizontally */
    color: #333; /* Dark color for contrast */
    margin-bottom: 30px; /* Adds space below the title */
    padding: 10px 0; /* Adds some padding around the title */
    font-family: 'Arial', sans-serif; /* Clean, modern font */
  }
  